
<%= render 'home/jumbotron' %>

<section id="search_bar">
  <div class="container center">
  <ul class="list-inline">
    <li><i class="fa  fa-github"></i></li>
    <li><i class="fa fa-facebook-official "></i></li>
    <li><i class="fa fa-twitter-square"></i></li>
    <li><i class="fa fa-google-plus-square "></i></li>
    <li><i class="fa fa-linkedin-square "></i></li>
  </ul>
</div>

</section>
<div class="container">
  <br>
    <div class="center">
          <h3>  <i class="fa fa-list"></i> Everything </h3>
    </div>
      <hr>
  <%=render'pins'%>

</div>
<div class="center">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
