<div class="jumbotron center">
  <h1>Welcome to the pinterested app</h1>
  <p>My first ruby on rails app</p>
  <%= link_to "Login", "#" , class:"btn btn-default" %>
  <%= link_to "Join", "#" , class:"btn btn-primary" %>
</div>
