<%if user_signed_in?%>
<h2 class="center">You are signed in<h2>
<%else%>
  <div class="jumbotron center">
    <h1>Welcome To The Pinterested App!</h1>
    <p>My first ruby on rails app</p>
    <%= link_to "Login", new_user_session_path , class:"btn btn-default " %>
    <%= link_to "Join", new_user_registration_path , class:"btn btn-primary" %>
  </div>
<%end%>
