// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_bar{
  background-color: #2980b9;
  height: 50px;
}
#pins {
  margin: 0 auto;
}
.box{
  margin: 5px;
  width: 240px;
}
.box img{
  width: 100%;
}
hr {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #ecf0f1;
}

.panel-body img{

  width: 100%;
}
small{
  color: lightgrey;
}

.like i{
  color: #c0392b;
}
.footer_icons{
  font-size: 10px;
}



.admin-footer{
display: inline-block;
background-color:#c0392b;
padding: 5px;
color:#fff;
border-radius: 2px;

  a{
    color:#fff;
  }
}
